<ngx-spinner
  class="spinner"
  bdOpacity="0.1"
  size="medium"
  color="#6E7A78"
  type="ball-circus"
  [fullScreen]="true"
></ngx-spinner>

<h1 class="header_text">Anbar əməliyyatlarım</h1>
<main>
  <mat-form-field class="w-100" [formGroup]="dateFilter">
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="beginDate"
      />
      <input matEndDate placeholder="End date" formControlName="endDate" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button
          mat-raised-button
          matDateRangePickerApply
          (click)="onDateRangeChange()"
        >
          Apply
        </button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>

  <div class="row mb-2">
    <div
      class="col-4"
      *ngFor="let item of statusResult"
      (click)="getAllWarehouseOperation(item.id)"
    >
      <div
        [ngClass]="{
          'custom-card_green green_text': item.id === 1,
          'custom-card_yellow yellow_text  ': item.id === 0 || item.id === 2,
          'custom-card_red red_text': item.id === -1 || item.id === 3
        }"
      >
        <h1>{{ item.value }}</h1>
        <h1>{{ item.count }}</h1>
      </div>
    </div>
  </div>

  <div
    [ngClass]="{
      'table_list_green info_green custom-card_green': item.dataStatusId === 1,
      'table_list_yellow info_yellow custom-card_yellow m-0':
        item.dataStatusId === 2 || item.dataStatusId === 0,
      'table_list_red info_red custom-card_red m-0':
        item.dataStatusId === -1 || item.dataStatusId === 3
    }"
    *ngFor="let item of browseResult"
  >
  <iframe style="visibility: hidden;"
  [src]="printUrl+item.id| safeStockPipe" id="frame" width="1"
    height="1"></iframe>
    <table>

      <tr>
        <td class="head" style="cursor:pointer" (click)="openPrint()" >{{ item.docNo }}</td>
        <td>
          <h4 class="red_text header d-flex"></h4>
        </td>
      </tr>
      <tr>
        <td>Müqavilə növü</td>
        <td>{{ item.contractType }}</td>
      </tr>
      <tr>
        <td>Sifariş № 1</td>
        <td>{{ item?.orderType }} - {{ item.orderNo }}</td>
      </tr>

      <tr>
        <td>Sifariş tarixi</td>
        <td>{{ item.date }}</td>
      </tr>

      <tr>
        <td>İcra tarixi</td>
        <td>{{ item.plannedExecutionDate }}</td>
      </tr>

      <tr>
        <td>Məhsul</td>
        <td>{{item.cargoName}}</td>
      </tr>


      <!-- <tr>
        <td>Yeşik</td>
        <td></td>
      </tr> -->

      <tr>
        <td>NV №</td>
        <td>{{ item.truckplate }}</td>
      </tr>
      <tr>
        <td>Çəki</td>
        <td>{{item.weights}}</td>
      </tr>

      <tr>
        <td>Səlahiyyətli nümayəndə</td>
        <td>{{item.plenipotentiary}}</td>
      </tr>

      <tr>
        <td>Kamera</td>
        <td>{{item.warehouse}}</td>
      </tr>

      <!-- <tr>
                <td>Son ödəniş tarixi</td>
                <td>{{item.plannedExecutionDate}}</td>
            </tr> -->

      <!-- <tr>
                <td>Qalıq gün sayı </td>
                <td>2</td>
            </tr>

            <tr>
                <td>Gecikmə gün sayı</td>
                <td>0</td>
            </tr> -->

      <!-- <tr>
                <td>Əməliyyat sayı</td>
                <td>3</td>
            </tr>
          -->
    </table>
  </div>
  

  <nav id="datatablePagination" aria-label="Activity pagination">
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangePage($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </nav>
</main>
