<main>
    <router-outlet></router-outlet>
</main>
    <footer class="footer">
        <nav>
          <ul class="footer-menu">
            <li><a routerLink="dashboard"  routerLinkActive="active">
                <div class="deactive_icon">
                    <img src="../../assets/images/icon/dashboard.svg" alt=""> 
                </div>  
                <div class="active_icon">
                    <img src="../../assets/images/icon/dashboard_active.svg" alt=""> Dashboard
                </div>
                </a></li>
            <li><a routerLink="categories"  routerLinkActive="active">
                <div class="deactive_icon">
                    <img src="../../assets/images/icon/category.svg" alt="">
                </div>  
                <div class="active_icon">
                    <img src="../../assets/images/icon/categories_active.svg" alt=""> Kategoriyalar
                </div>
            </a>
            
            </li>
            <li><a routerLink="mmf"  routerLinkActive="active">
                <div class="deactive_icon">
                    <img src="../../assets/images/icon/mmf.svg" alt="">
                </div>  
                <div class="active_icon">
                    <img src="../../assets/images/icon/mmf_active.svg" alt=""> MMF
                </div>
            </a></li>
            <li><a routerLink="profile"  routerLinkActive="active">
                <div class="deactive_icon">
                    <img src="../../assets/images/icon/profile_user.svg" alt="">
                </div>  
                <div class="active_icon">
                    <img src="../../assets/images/icon/profile_active.svg" alt=""> Profil
                </div>
            </a></li>
          </ul>
        </nav>
      </footer>