form{
    input{
        border: 1px solid #D0D0D0;
        outline: none; 
    }
    input:focus{
        outline: none;
    }
}
.confirm_button{
    padding: 15px 10px;
    font-size: 20px;
}
.addbox{
}



