<ngx-spinner class="spinner"  bdOpacity = 0.1 size = "medium" color = "#6E7A78" type = "ball-circus" [fullScreen] = "true"></ngx-spinner>

<h1 class="header_text">Hesab fakturalarım</h1>
<main>
<div [formGroup]="dateFilter">
    <mat-form-field class="w-100"  >
        <mat-date-range-input [rangePicker]="picker" >
            <input matStartDate placeholder="Start date" formControlName="beginDate">
            <input matEndDate placeholder="End date" formControlName="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button matDateRangePickerApply (click)="onDateRangeChange()">Apply</button>
              </mat-date-range-picker-actions>
        </mat-date-range-picker>
        
    </mat-form-field>
    <div class="col-lg-12">
        <mat-form-field class="select-field w-100" appearance="fill" >
          <mat-label class="select-label">Sifariş tipi</mat-label>
          <mat-select class="select" formControlName='reasonType' id="reasonType" >

            <mat-option *ngFor="let item of reasonType" (click)="selectType(item.key)" [value]="item.key">
              {{item.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
</div>
 


    <div class="row mb-2" >
        <div class="col-4 custom_colored_box" *ngFor="let item of statusWithCount" (click)="getAllInvoices(item.paymentStatusId || item.key)">
            <div 
            [ngClass]="{
                        'custom-card_green green_text': item.paymentStatusId || item.key  === 1,
                'custom-card_yellow yellow_text  ': item.paymentStatusId || item.key === 0,
                'custom-card_red red_text': item.paymentStatusId || item.key === 2
              }">
                <h1>{{item.status || item.value}}</h1>
                <h1>{{item.count}}</h1>
            </div>      
        </div>
     
         
  
    </div>

    <div 
    [ngClass]="{
        'table_list_green info_green custom-card_green': item.paymentStatusId === 1,
        'table_list_yellow info_yellow custom-card_yellow m-0': item.paymentStatusId === 0,
        'table_list_red info_red custom-card_red m-0': item.paymentStatusId === 2
      }" *ngFor="let item of browseResult">
        <table>

            <tr>
                <td class="head">{{item.docNo}}</td>
                <td>
                    <h4 class="red_text header "
                    [ngClass]="{
                        'green_text header_green': item.paymentStatusId  === 1,
                        'yellow_text header_yellow': item.paymentStatusId === 0,
                        'red_text header_': item.paymentStatusId  === 2
                      }"
                    >{{item.paymentStatus}}</h4>
                </td>
            </tr>
            <tr>
                <td>Müqavilə növü</td>
                <td>{{item.contractType}}</td>
            </tr>
            <tr>
                <td>Tarix</td>
                <td>{{item.date }}</td>
            </tr>
            <tr>
                <td>Məhsul</td>
                <td>{{item.cargos}}</td>
            </tr>

            <tr>
                <td>Son ödəniş tarixi</td>
                <td>{{item.lastPaymentDate}}</td>
            </tr>


            <tr>
                <td>Qalıq gün sayı </td>
                <td>{{item.day}}</td>
            </tr>
<!-- 
            <tr>
                <td>Gecikmə gün sayı</td>
                <td>0</td>
            </tr>  -->
            <tr>
                <td>Sifariş № 1 </td>
                <td>{{item.orderNo}}</td>
            </tr>
            <tr>
                <td>Əməliyyat sayı</td>
                <td>{{item.truckCount}}</td>
            </tr>
         


        </table>
      
    </div>

    <nav id="datatablePagination" aria-label="Activity pagination">
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              (page)="onChangePage($event)" showFirstLastButtons>
            </mat-paginator>
          </nav>  

   
</main>