<ngx-spinner class="spinner"  bdOpacity = 0.1 size = "medium" color = "#6E7A78" type = "ball-circus" [fullScreen] = "true"></ngx-spinner>

<div class="dashboard_component all">
    <header>
        <div class="row align-items-center">
            <div class="col-9">
                <div class="user_text">
                    <img src="../../../assets/images/icon/user.svg" alt="">
                    <div class="text">
                        <h1>{{companyName}}</h1>
                        <h6>GIF:2400120025</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                
                <button mat-button [matMenuTriggerFor]="menuItem"><img src="../../../assets/images/icon/notification.svg" alt=""></button>
<mat-menu #menuItem="matMenu">
  <button mat-menu-item class="text-center" (click)="logOut()">Log out</button>
</mat-menu>
            </div>
        </div>
    </header>
    <main>
        <div class="dashboard_box">
            <div class="top_box d-flex justify-content-start align-items-center px-3">
                <div class="">
                    <h1>Ödəniş gözləyən <br>fakturalar</h1>
                    <button class="confirm_button">Ödəniş et</button>
                </div>

            </div>
            <div class="bottom_box px-5 pt-3">
                <span>
                    <h2>12</h2>
                    <p>faktura sayı</p>
                </span>
                <span>
                    <h2>345₼</h2>
                    <p>ödənilməli məbləğ</p>
                </span>
            </div>
        </div>

        <div class="table-container mt-3">
            <div class="table-header">
                <h2>Günlük əməliyyatlar</h2>
                <span>{{date | date: 'dd.MM.yyyy' }}</span>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- No Column -->
                <ng-container matColumnDef="docNo">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element"> {{element.docNo}} </td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Saat </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Service Type Column -->
         
                <!-- Operation Type Column -->
                <ng-container matColumnDef="operationType">
                    <th mat-header-cell *matHeaderCellDef> Əməliyyat tipi </th>
                    <td mat-cell *matCellDef="let element"> {{element.operationType}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <nav id="datatablePagination" aria-label="Activity pagination">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                  (page)="onChangePage($event)" showFirstLastButtons>
                </mat-paginator>
              </nav>
        </div>

        <!-- <div class="slider">
            <div class="about-carousel-content">
                <div id="about-carousel" class="owl-carousel owl-theme">
                  <div class="item" *ngFor="let image of data; let i = index">
                    <img [src]="image" [alt]="'about-us-image' + i">
                  </div>
                </div>
              </div> 
        </div> -->
        <div class="important_box">
            <div class="row">
                <div class="col-6" *ngFor="let item of menu">
                    <div class="box" [routerLink]="item.link">
                        <h2>{{item.value}}</h2>

                    </div>
                </div>

        

            </div>
        </div>

    </main>
</div>