.info_box {
    .header {
        font-family: Inter;
        font-size: 16px;
        line-height: 23.52px;

    }

    h5 {
        font-weight: 400;
        color: #828282;

    }

    h4 {
        font-weight: 500;
        color: #3E3E3E;

    }

 
}