.all_categories {
    .box {
        margin-top: 20px;
        background: linear-gradient(305.42deg, #D7EDE2 14.58%, rgba(185, 240, 247, 0.22) 88.54%);
        border-radius: 6px;
        height: 15pc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        h3 {
            //styleName: Medium;
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 23.52px;
            color: #066550;
            padding-top: 10px;
            padding-left: 15px;
        }
    }
    .yellow {
        color: #DBBD20 !important;
    }

    .green {
        color: #0D9677 !important;
    }

    .red {
        color: #ED635C !important;
    }
}
.info_category {
    padding: 10px 30px;
  width: 98%;
  margin-bottom: 5px;
  table{
    width: 100%;
  }
    td {
      //styleName: Medium;
      font-family: Inter;
      font-size: 16px;
      font-weight: 6 00;
      line-height: 23.52px;
      text-align: left;
      color: #505050;
      width: 50%;
      padding: 5px 0px;
  
    }
  
    td:last-child {
      text-align: end;
    }
  } 
  .w-90{
    width: 90%!important;
  }