<h1 class="header_text">Müştəri müraciət forması</h1>
<main>
    <h2 class="backText">CR24-00001</h2>
    <div class="table_list info">
        <table>
           
            <tr>
              <td>Müştəri tipi</td>
              <td>HypoCaust MMC</td>
            </tr>
            <tr>
              <td>Sifarişçi</td>
              <td>Tağı Tağıyev</td>
            </tr>
            <tr>
                <td>Müqavilə növü</td>
                <td></td>
              </tr>
              <tr>
                <td>Soyuq anbar xidməti</td>
                <td>Müqavilə № </td>
              </tr>
          </table>
          <div class="btnbox">
          <button class="confirm_button addbtn">Əlavə et</button>

          </div>
          <table>
           
            <tr>
              <td>İcra tarixi</td>
              <td>dd.mm.yyyy</td>
            </tr>
            <tr>
              <td>Sifariş tipi</td>
              <td></td>
            </tr>
            <tr>
                <td>Saxlanc giriş</td>
                <td>Sifariş № </td>
              </tr>
              <tr>
                <td>Məhsul</td>
                <td>Nektarin </td>
              </tr>
              <tr>
                <td>Miqdarı</td>
                <td>Lorem </td>
              </tr>
              <tr>
                <td>Qəbul forması</td>
                <td>Yeşik </td>
              </tr>
              <tr>
                <td>Anbar</td>
                <td>B01 </td>
              </tr>
              <tr>
                <td>Kamera</td>
                <td>A-03 </td>
              </tr>
              <tr>
                <td>Qapı</td>
                <td>Lorem </td>
              </tr>
              <tr>
                <td>Daşıma tipi</td>
                <td>Lorem </td>
              </tr>

              <tr>
                <td>Daşıyıcının № </td>
                <td>Lorem </td>
              </tr>


              <tr>
                <td>Statusu</td>
                <td>Gözləyən </td>
              </tr>

              <tr>
                <td>Səbəb</td>
                <td>Lorem </td>
              </tr>

            
          </table>
          <div class="box d-flex align-items-center">
            <a class="openConfirmPopUp w-100" (click)="openDialog()">Şərtlərə bax</a>
            <button class="confirm_button w-100">Təsdiq et</button>
          </div>
    </div>

</main>